<div class="container ">
  <button  class="btn btn-info" routerLink="ajouterDepartement" >Ajouter departement</button>
  <table>
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dep of departements" class="col-md-6 col-xl-5">
        <td>{{dep.id}}</td>
        <td>{{dep.name}}</td>  
        <td style="background-color:beige"> 
        <td >
           <div class="group-btn">
            <a  class="btn btn-warning"><i style="color:white" class="bi bi-0-circle"></i></a>
            <a class="btn btn-danger"><i style="color:white" class="bi bi-0-circle"></i></a>
           </div>
        </td>
    </tbody>
  </table>

</div>